<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/bundle.js'></script>
  </head>
  <body>
    <form>
      <span>Email: <input id="email" type="text" /> <button type="button" id="button">Submit</button></span><br />
      <span id="email-success" class="text-alert text-alert-success hide">Email submitted!</span>
      <span id="email-error" class="text-alert text-alert-danger hide">Email is not right!</span>
    </form>
  </body>
</html>