<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/bundle.js'></script>
  </head>
  <body>
    <form>
      <input id="lhs" type="text" /><span class="operator">&times;</span><input id="rhs" type="text" /><br />
      <button id="multiply-button" type="button">Multiply!</button>
    </form>
    <p>The product is: <span id="answer"></span></p>
  </body>
</html>